<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Investment Analysis For Period</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>    
    </mat-toolbar-row>
</mat-toolbar>
<br/>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Valor inicial de investimento*</mat-label>
      <input matInput placeholder="R$ 1.000,00" value="0,00">
    </mat-form-field>

  <br/>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Período em meses*</mat-label>
        <input matInput placeholder="24" value="">
    </mat-form-field>

   <br/>

   <button mat-raised-button>Consult Investment</button>
  </form>